yt-dlp
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
opencv-python
numpy
pillow
instaloader
feedparser
requests
instagrapi
imageio-ffmpeg

# AI-based female detection
deepface
tf-keras
